h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --font-family-global: 'Roboto', sans-serif;
  --font-family: 'Raleway', sans-serif;
  --bg-color: #ffffff;
  --bg-color-hero-footer: #2f303a;
  --bg-color-section: #f5f4fa;
  --color: #212121;
  --color-title: #ffffff;
  --color-text: #757575;
  --color-hover-focus: #2196f3;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-header-bb: #ececec;
  --border-potfolio-card: #eeeeee;
}

body {
  font-family: var(--font-family-global);
  color: var(--color);
  background-color: var(--bg-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

/* Утилиты */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.logic-title {
  display: none;
}

/* Header */

.header {
  width: 100%;
  border-bottom: 1px solid var(--color-header-bb);
}

.header-wrap {
  min-height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--color);
}

.logo > span {
  color: var(--color-hover-focus);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.header-link {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--color);
}

.active,
.header-link:hover,
.header-link:focus {
  color: var(--color-hover-focus);
}

.nav-contacts {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.link {
  color: var(--color-text);
}

/* Секция герой */

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bg-color-hero-footer);
}

.hero-wrap-title {
  max-width: 696px;
  margin: 0 auto;
  padding: 20px;
}

.hero-section-title {
  color: var(--color-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero-btn {
  font-family: var(--font-family-global);
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--color-title);
  background-color: var(--color-hover-focus);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  cursor: pointer;
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: #0c76cc;
  color: var(--bg-color);
}

/* Особенности */

.peculiarities-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.peculiarities-list-item {
  width: 270px;
}

.peculiarities-item + .peculiarities-item {
  margin-left: 30px;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.peculiarities-text {
  line-height: 1.71;
  color: var(--color-text);
}

/* Чем мы занимаемся */
.speciality-section {
  padding-top: 0;
}

.speciality-wrap {
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.speciality-list {
  display: flex;
  justify-content: space-between;
}

.speciality-img {
  display: block;
}

/* Команда */
.team {
  background-color: var(--bg-color-section);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  background-color: var(--bg-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-img {
  display: block;
  margin-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--color-text);
  margin-bottom: 30px;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-hero-footer);
  color: var(--bg-color);
}

.footer-logo {
  display: block;
  /* margin-bottom: 20px; */
  color: var(--bg-color);
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.71;
  color: var(--color-footer-link);
  margin-top: 9px;
}

.address-link:hover,
.address-link:focus {
  color: var(--bg-color);
}

/* Portfolio */
.portfolio-list-btn {
  display: flex;
  justify-content: center;
}

.portfolio-item + .portfolio-item {
  margin-left: 8px;
  margin-bottom: 50px;
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  background: var(--bg-color-section);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn.active {
  color: var(--color-title);
  background: var(--color-hover-focus);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.potfolio-img {
  display: block;
  width: 100%;
}

.portfolio-item-card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.potfolio-link {
  text-decoration: none;
  color: var(--color);
  cursor: pointer;
}

.potfolio-img {
  display: block;
}

.wrap-inside-cards {
  text-align: left;
  padding: 20px 24px;
  border: 1px solid var(--border-potfolio-card);
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text);
}
